@using System.Web.Optimization
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Job Market</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
          crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Anton|Questrial|Quicksand" rel="stylesheet">

    @if (IsSectionDefined("Styles"))
    {
        @RenderSection("Styles", required: false)
    }
@*    @Styles.Render("~/bundles/bootstrap/css")*@
    @Styles.Render("~/bundles/font-awesome/css")
    @Styles.Render("~/bundles/style/css")
</head>
<body>
    @Html.Partial("_NavBar")
    @RenderBody()
    @Html.Partial("_Footer")
    @Scripts.Render("~/jquerry/js")
    @*    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"*@
    @*            crossorigin="anonymous"></script>*@
    @Scripts.Render("~/bundles/tether/js")
    @Scripts.Render("~/bundles/bootstrap/js")
@*        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"*@
@*                crossorigin="anonymous"></script>*@
    @Scripts.Render("~/bundles/menu-resize/js")
</body>
</html>